* {
    margin: 0;
    padding: 0;
}

/* primary styles */

.section {
    max-width: 1500px;
    margin: 0 auto;
   
}

.primary-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* padding: 16px 84px 16px 14px; */
}

.primary-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.input-primary {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.btn-primary {

    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: 0;
   

}


/* nav styles  */
.nav-container{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 40px;
    color: rgb(138, 87, 20);
    font-weight: 800;
}
.logo-container{
    display: flex;
}


/* Banner styles  */
.banner {

    height: 500px;
    background-image: url('../Images/banner1.png');
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.banner-content p {
    width: 676px;
    margin: 0 auto;
    /* padding-top: 80px;  */

}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.banner-description {
    text-align: center;


}

.search-input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-left: 24px;
    padding-left: 14px;
    margin-top: 30px;

}

.input-group {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

/* Main container styles */


.container-info {
    width: 50%;


}

.populer-tours-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.tour-description {
    margin: 30px;
}

/* Destnition styles  */

.destination-heading {
    text-align: center;
}

.destination-heading p {
    width: 643px;
    margin: 20px auto;
}

/* img area  */

.main-img {
    width: 700px;
    height: 300px;
    margin: 10px 20px;
    object-fit: cover;
    border-radius: 8px;
}

.middle-img {
    height: 300px;
    margin: 10px 15px;
    object-fit: cover;
    border-radius: 8px;
}

.last-img {
    height: 300px;
    margin: 10px 15px;
    object-fit: cover;
    border-radius: 8px;
}

#footer-img {
    width: 950px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

#card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}

.card {
    width: 700px;
    height: 284px;
    padding: 20px;
}

.card img {
    height: 80px;
    width: 80px;
    border-radius: 50%;


}


.title {
    width: 448px;
    font-size: 43px;
}

.description {
    width: 532px;
    margin: 10px 0px;
}

ul>li {
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0px;
}

.place-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


/* NewsLetter section  */
.form-container {
    width: 50%;
}

hr {
    margin: 20px 0px;
    width: 72%;
}

.form-input {
    width: 500px;
    height: 52px;
    margin-top: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 20px;
    border: 0;
}

.subscribe {
    width: 520px;
    height: 52px;
    margin-top: 20px;
    border: 0;
    font-size: 24px;
}

.newsletter-container {
    display: flex;
}

.save-btn {
    border: 0;
    width: 324px;
    height: 120px;
    transform: rotate(-28.628deg);
    position: relative;
    left: 370px;
    top: -195px;

}
.form-img{
    width: 50%;
}
.form-img img{
    width: 700px;

}
.save-btn h4 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;

}

.save-btn h4 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;

}

/* footer styles */
footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer-container{
  padding: 40px 0px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.logo{
margin-left: 30px;
}
span{
    color: #FF5400;;
}
.footer-text{
  
    width: 769px;
    margin: 20px auto;
}
.icon{
    text-align: center;
   
}
.fa-brands{
    margin-right: 20px;
    
}

.brack-line{
    width: 60%;
    margin: 50px auto;
}
.copyright{
    text-align: center;
    margin: 30px;
}




/* Responsive style mobile  */
@media screen and (max-width:600px) {


    .banner {
        height: 630px;
        border-radius: 0px;
    }

    .banner-content h1 {
        margin: 30px 40px;
    }

    .banner-content p {
        width: 500px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        border-radius: 16px;
        margin: 0px 30px;

    }

    .input-group input {
        width: 60%;
    }

    .populer-tours-container,
    .place-container {
        flex-direction: column;
        margin: 0px 40px;
        margin-top: 50px;
    }

    .container-info {
        width: 90%;
        margin-bottom: 30px;
    }

    .tour-img img {
        width: 95%;
        margin: 0 auto;
    }

    .destination-heading p {
        width: 90%;
        margin-bottom: 30px;
    }

    .main-img,
    .middle-img,
    .last-img {
        width: 510px;
    }

#footer-img{
    width: 510px;
}

    .card-container {
        grid-template-columns: 1fr;

        /* margin: 0 20px; */
    }

    .card {
        width: 80%;
        margin: 0 auto;
        padding: 40px 10px;
    }

    .populer-tours-container {
        flex-direction: column;
    }

    .populer-tours-container ul {
        padding-left: 18px;
    }
    .newsletter-container{
        flex-direction: column;
    }
    .form-container{
        width: 70%;
        margin: 0 auto;
    }
    .form-input{
        width: 100%;
    }
    .subscribe{
        width: 100%;
        margin: 20px auto;
    }
    .form-img img{
        width: 550px;
        margin-left:20px;
    }
    .save-btn{
        width: 180px;
        margin-top: 25px;
    }
    footer{
margin-top: -100px;
    }
    .footer-text{
        width: 80%;
        text-align: center;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-link >a{
        margin: 5px;
    }
}